/*
Colors
LightBlue: #B5EAEA
LightBeige: #EDF6E5
LightPink: #FFBCBC
Pink: #F38BA0
*/
nav {
    width: 100%;
}

.aboutMe-section {
    margin: 0 auto;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    min-height: 50px;
    max-height: 1000px;
}

.abImg{
    border-radius: 25px;
    float: left;
    max-width: min(100%,300px);
    margin: 0 auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

.abTxt {
    font-family: 'Merriweather', serif;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.container{
    max-width: 2000px;
}

.collapse-button {
    border-radius: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}


.main-div {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.nav-section{
    background-color: #B5EAEA;
    margin: 0 auto;
    width: 100%;
    min-height: 56px;
}

.preview-box {
    background-clip: content-box;
    background-color: #FFBCBC;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px;
    max-width: 100%;
    width: 250px;
    height: 300px;
}

.leftSideTable{
    width: 50%;
}
.rightSideTable{
    text-align: right;
    width: 50%;
}

#downloads-section li{
    list-style-type: none;
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
    width: 40%;
}

#downloads-section {
    width: 100%;
    margin: 0 auto;
    margin-top: 56px;
}

#emailPopover,#phonePopover {
    max-width: 40px;
}

div#preview-array div.row div.col-md-6{
    width:250px;
}

#preview-array {
    margin: 0 auto;
    margin-top: 56px;
    max-width: min(900px,100%);
}

#preview-section {
    border: 1px solid;
    height: 500px;
    margin: 0 auto;
    margin-top: 56px;
    width: 100%;
}


